[Desktop Entry]
Name=Ghostty
Comment=Ghostty is a fast, feature-rich, and cross-platform terminal emulator that uses platform-native UI and GPU acceleration
Exec=ghostty +new-window
Icon=ghostty
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator
